
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/Css/Sys/SysException/sysException.css" rel="stylesheet" />
<h2>SysException</h2>

<table id="sysException"></table>

<script src="~/Scripts/Sys/SysException/sysException.js"></script>