
@{
    ViewBag.Title = "Index";
}

<table id="staff"></table>

<div id="staff_tabTools" style="padding:5px">
    <div>
        <a href="#" class="easyui-linkbutton" plain="true" iconCls="icon-add" onclick="obj.add()">添加</a>
        <a href="#" class="easyui-linkbutton" plain="true" iconCls="icon-edit" onclick="obj.edit()">修改</a>
        <a href="#" class="easyui-linkbutton" plain="true" iconCls="icon-remove" onclick="obj.remove()">删除</a>
        <a href="#" class="easyui-linkbutton" plain="true" iconCls="icon-save" style="display:none;" id="save" onclick="obj.save()">保存</a>
        <a href="#" class="easyui-linkbutton" plain="true" iconCls="icon-redo" style="display:none;" id="redo" onclick="obj.redo()">取消编辑</a>
    </div>

    <div style="padding:0 0 0 7px;color:#333;">
        查询账号：<input type="text" name="name" class="textbox">
        创建时间从：<input type="text" name="date_from" class="easyui-datebox" editable="false">
        到创建时间：<input type="text" name="date_to" class="easyui-datebox" editable="false">
        <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="obj.search()">查询</a>
    </div>
</div>

<script src="~/Scripts/Staff/staff.js"></script>